**Name: Mohammad Anas**

**Roll Number: 20L-1289**

**Class: BDS-6A1**

In [56]:
# Q1
def count_chickens(chicken_count):
    if chicken_count < 10:
        return f"Number of chickens: {chicken_count}"
    else:
        return "Number of chickens: many"

print(count_chickens(3))
print(count_chickens(130))
print(count_chickens(21))

Number of chickens: 3
Number of chickens: many
Number of chickens: many

In [35]:
# Q2
def extract_ends(str_val):
    if len(str_val) < 3:
        return ''
    else:
        return str_val[:3] + str_val[-3:]

print(extract_ends('Intelligence'))

Intnce

In [36]:
# Q3
def replace_char_with_at_symbol(str_val):
    first_char = str_val[0]
    return first_char + str_val[1:].replace(first_char.lower(), '@')

input_str = 'Ooogle'
new_str = replace_char_with_at_symbol(input_str)
print(new_str)  # prints 'O@@gle'

O@@gle

In [37]:
# Q4
def shuffle_strings(str_a, str_b):
    return str_b[:2] + str_a[2:] + ' ' + str_a[:2] + str_b[2:]

print(shuffle_strings('mix', 'pod'))  # prints 'pox mid'
print(shuffle_strings('dog', 'dinner'))  # prints 'dig donner'

pox mid
dig donner

In [38]:
# Q5
def count_words_with_matching_ends(word_list):
    count = 0
    for word in word_list:
        if len(word) > 1 and word[0] == word[-1]:
            count += 1
    return count

print(count_words_with_matching_ends(['aba', 'ana', 'anas', 'Hello', 'bnddbd']))

2

In [39]:
# Q6
def separate_x_and_a_words(word_list):
    word_list.sort()
    a_words = []
    other_words = []
    for word in word_list:
        if word[0] == 'a':
            a_words.append(word)
        else:
            other_words.append(word)
    return a_words + other_words

print(separate_x_and_a_words(['mix', 'xyz', 'apple', 'xanadu', 'aardvark']))

['aardvark', 'apple', 'mix', 'xanadu', 'xyz']

In [40]:
# Q7
def sort_list_of_tuples_by_last_element(tuple_list):
    return sorted(tuple_list, key=lambda x: x[-1])

lst = [(1, 7), (1, 3), (3, 4, 5), (2, 2)]
sorted_lst = sort_list_of_tuples_by_last_element(lst)
print(sorted_lst)  # prints [(2, 2), (1, 3), (3, 4, 5), (1, 7)]

[(2, 2), (1, 3), (3, 4, 5), (1, 7)]

In [41]:
# Q8
def is_non_recursive_palindrome(input_str):
  input_str = input_str.lower() 
  input_str = input_str.replace(" ", "")
  input_str = input_str.replace(",", "")
  input_str = input_str.replace(".", "")
  input_str = input_str.replace(":", "")
  input_str = input_str.replace(";", "")
  return input_str == input_str[::-1]

s = input("Please input a string: ")
if (is_non_recursive_palindrome(s)):
    print("Yes")
else:
    print("No")

Please input a string: tenet
Yes

In [42]:
# Q9
def flatten_list(lst):
    flatten_lst = []
    for i in lst:
        if type(i) == list:
            flatten_lst += flatten_list(i)
        else:
            flatten_lst.append(i)
    return flatten_lst

n_list = [[3, 6, 3], [9, 5]]
flattened_list = flatten_list(n_list)
print(flattened_list)

[3, 6, 3, 9, 5]

In [43]:
# Q10
def get_intersection(lst1, lst2):
    intersection_lst = []
    for i in lst1:
        if i in lst2 and i not in intersection_lst:
            intersection_lst.append(i)
    return intersection_lst

lst1 = [1, 2, 3, 4, 5]
lst2 = [3, 4, 5, 6, 7]
intersect = get_intersection(lst1, lst2)
print(intersect)

[3, 4, 5]

In [44]:
# Q11
def is_anagram(s1, s2):
    # Remove spaces and convert to lowercase
    s1 = s1.replace(' ', '').lower()
    s2 = s2.replace(' ', '').lower()

    # Check if the two strings have the same letters
    if len(s1) != len(s2):
        return False
    for letter in s1:
        if s1.count(letter) != s2.count(letter):
            return False
    return True

string1 = 'cinema'
string2 = 'iceman'
if is_anagram(string1, string2):
    print(f'{string1} and {string2} are anagrams')
else:
    print(f'{string1} and {string2} are not anagrams')

cinema and iceman are anagrams

In [45]:
# Q12
def search(numbers, key):
    first = 0
    last = len(numbers) - 1

    while first <= last:
        mid = (first + last) // 2
        if numbers[mid] == key:
            return mid
        elif numbers[mid] < key:
            first = mid + 1
        else:
            last = mid - 1

    return -1

numbers = [1, 3, 5, 7, 9]
key = 5
index = search(numbers, key)
if index != -1:
    print(f'The index of {key} is {index}')
else:
    print(f'{key} was not found in the list')
print(numbers)

The index of 5 is 2
[1, 3, 5, 7, 9]

In [46]:
# Q13
def merge_sort(arr):
    if len(arr) <= 1:
        return arr

    mid = len(arr) // 2
    left_arr = arr[:mid]
    right_arr = arr[mid:]

    left_arr = merge_sort(left_arr)
    right_arr = merge_sort(right_arr)

    return merge(left_arr, right_arr)

def merge(left_arr, right_arr):
    result_arr = []
    i = 0
    j = 0

    while i < len(left_arr) and j < len(right_arr):
        if left_arr[i] < right_arr[j]:
            result_arr.append(left_arr[i])
            i += 1
        else:
            result_arr.append(right_arr[j])
            j += 1

    result_arr += left_arr[i:]
    result_arr += right_arr[j:]

    return result_arr

arr = [5, 2, 1, 8, 4]
sorted_arr = merge_sort(arr)
print(sorted_arr)

[1, 2, 4, 5, 8]

In [47]:
# Q14
def quicksort(array):
    if len(array) <= 1:
        return array

    pivot = array[0]
    left = []
    right = []

    for i in range(1, len(array)):
        if array[i] < pivot:
            left.append(array[i])
        else:
            right.append(array[i])

    left = quicksort(left)
    right = quicksort(right)

    return left + [pivot] + right

arr = [5, 2, 1, 8, 4]
sorted_arr = quicksort(arr)
print(sorted_arr)

[1, 2, 4, 5, 8]

In [48]:
# Q15
def count_frequency(lst):
    freq = {}

    for element in lst:
        if element in freq:
            freq[element] += 1
        else:
            freq[element] = 1

    return freq

lst = [1, 2, 2, 3, 4, 2]
freq = count_frequency(lst)
print(freq)

{1: 1, 2: 3, 3: 1, 4: 1}

In [49]:
# Q16
def count_distinct_elements(lst):
    distinct_set = set(lst)
    return len(distinct_set)

numbers = [1, 2, 2, 3, 4, 2]
distinct_count = count_distinct_elements(numbers)
print(distinct_count)

4

In [50]:
# Q17
def get_union_and_intersection(set_a, set_b):
    union_set = set()
    intersection_set = set()
    for x in set_a:
        union_set.add(x)
        if x in set_b:
            intersection_set.add(x)
    for x in set_b:
        union_set.add(x)
    return (union_set, intersection_set)

set_a = {1, 2, 3, 4}
set_b = {2, 4, 5, 6}
union, intersection = get_union_and_intersection(set_a, set_b)
print("Union:", union)
print("Intersection:", intersection)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {2, 4}

In [51]:
# Q18
def dicVals(dic):
    return list(set(dic.values()))

d = {"x":1, "y":2, "z":3, "a":4, "b":1, "c":2, "d":3, "e":1}
print(dicVals(d))

[1, 2, 3, 4]

In [52]:
# Q19
from collections import Counter
def frequent_values(x):
    counts = Counter(x.values())
    max_count = max(counts.values())
    # Find all the keys that have a value with count equal to max_count
    keys = [k for k, v in x.items() if counts[v] == max_count]

    return keys

d = {"x": 1, "y": 2, "z": 3, "a": 4, "b": 1, "c": 2, "d": 3, "e": 1}
print(frequent_values(d))

['x', 'b', 'e']

In [53]:
# Q20
def merge_dictionaries(d1, d2):
    d3 = d2.copy()
    d3.update(d1)
    return d3

d1 = {'a': 1, 'b': 2, 'c': 3}
d2 = {'b': 4, 'd': 5, 'e': 6}
d3 = merge_dictionaries(d1, d2)
print(d3)

{'b': 2, 'd': 5, 'e': 6, 'a': 1, 'c': 3}

In [54]:
# Q21
def filter_dicts_by_key(dicts_list, key):
    filtered_list = []
    for d in dicts_list:
        if key in d.keys():
            filtered_list.append(d)
    return filtered_list

dicts_list = [ {'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25, 'gender': 'male'}, {'name': 'Charlie', 'gender': 'male'}]
filtered_list = filter_dicts_by_key(dicts_list, 'age')
print(filtered_list)

[{'name': 'Alice', 'age': 30}, {'name': 'Bob', 'age': 25, 'gender': 'male'}]

In [55]:
# Q22
def find_duplicates(lst):
    unique = []
    duplicates = []
    for item in lst:
        if item not in unique:
            unique.append(item)
        elif item not in duplicates:
            duplicates.append(item)
    return duplicates

lst = [1, 2, 3, 4, 2, 5, 6, 3, 4, 7]
duplicates = find_duplicates(lst)
print(duplicates)  # prints [2, 3, 4]

[2, 3, 4]